<div class="signup-modal" ng-show='signupModal'>
    <div class="signup-form">
        <div class="signup-with-different">
            Sign Up with <span class='fb'>Facebook</span> or <span class='google'>Google</span>
        </div>
        <div class='divider'>
            <div class='divider-line'></div>
            <div class='or'>or</div>
            <div class='divider-line'></div>
        </div>
        <form action=''>

            <input class='ff' type='text' id='tt' name='tt' placeholder='Which team you are totally in love with?' />
            <input class='ff' type='text' id='tt' name='tt' placeholder='Who is your favorite player?' />
            <span class='omit'>You don't have to specify your favorite player/team if you don't want to.</span>
            <input class='half-input-left' type='text' id='tt' name='tt' placeholder='First Name' />
            <input class='half-input-right' type='text' id='tt' name='tt' placeholder='Last Name' />
            <input class='ff' type='text' id='tt' name='tt' placeholder='Username' />
            <input class='half-input-left' type='password' id='password_signup' placeholder='Password'>
            <input class='half-input-right' type='password' id='password_signup' placeholder='Retype password'>
            <input class='email-signup' type='email' id='email_signup' name='email_signup' placeholder='Email Address' />
            <span class='privacy'>By signing up, I agree to False Nine’s Terms of Service, Nondiscrimination Policy, Payments Terms of Service, Privacy Policy, Player Rights Policy, and Player Guarantee Terms.</span>
            <button class='submit-signup' type='submit'>Signup</button>
        </form>
        <div class="no-account">
            <span class="already">Already have an account?</span>
            <a class="login" href=''>Login</a>
        </div>
    </div>
</div>