<div class='attributes technical'>
    <div class='attribute-header'>Technical</div>
        <div class='up'>Corners</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
        <div>Crossing</div>
        <div>Dribbling</div>
        <div>Finishing</div>
        <div>First Touch</div>
        <div class='down'>Free Kick Taking</div><img src='../rating_triangle_down.svg' alt='Rating Up or Down'>
        <div>Heading</div>
        <div>Long Shots</div>
        <div>Long Throws</div>
        <div class='up'>Marking</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
        <div>Passing</div>
        <div>Penalty Taking</div>
        <div>Tackling</div>
        <div class='up'>Technique</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    </div>
<div class='attributes mental'>
    <div class='attribute-header'>Mental</div>
    <div class='up'>Aggression</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div>Anticipation</div>
    <div>Bravery</div>
    <div class='down'>Composure</div><img src='../rating_triangle_down.svg' alt='Rating Up or Down'>
    <div>Concentration</div>
    <div>Decision</div>
    <div>Determination</div>
    <div>Flair</div>
    <div>Leadership</div>
    <div>Off the Ball</div>
    <div>Positioning</div>
    <div class='up'>Teamwork</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div>Vision</div>
    <div>Work Rate</div>
</div>
<div class='attributes physical'>
    <div class='attribute-header'>Physical</div>
    <div class='up'>Acceleration</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div class='up'>Agility</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div class='up'>Balance</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div class='up'>Jumping Reach</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div class='up'>Natural Fitness</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div>Pace</div>
    <div>Stamina</div>
    <div>Strength</div>
    <div>Goalkeeper Rating</div>
</div>
<div class='attributes similar'>
    <div class='attribute-header'>Other Players in Bayern München</div>
    <div>Manuel Neuer</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div>Robert Lewandowski</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div>David Alaba</div><img src='../rating_triangle_down.svg' alt='Rating Up or Down'>
    <div>Franck Ribery</div>
    <div>Arjen Robben</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div>Mathias Hummels</div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
</div>
<div class="divider-line"></div>
<div class="player-recommend">
    <h3>Similar Player Profiles from German Bundesliga</h3>
    <a href=''>Willi Orban</a>
    <a href=''>Ousmane Dembele</a>
    <a href=''>Emil Forsberg</a>
    <a href=''>Pierre-Emerick Aubameyang</a>
    <a href=''>Timo Horn</a>
    <a href=''>Marco Reus</a>
    <a href=''>Marcel Risse</a>
</div>