<div class='attributes technical' *ngIf="attributes">
    <div class='attribute-header'>Technical</div>
        <div>Crossing <span class='attribute_value'>{{attributes.technical.Crossing}}</span></div>
        <div>Dribbling <span class='attribute_value'>{{attributes.technical.Dribbling}}</span></div>
        <div>Finishing <span class='attribute_value'>{{attributes.technical.Finishing}}</span></div>
        <div>First Touch <span class='attribute_value'>{{attributes.technical.FirstTouch}}</span></div>
        <div class='down'>Free Kick Taking <span class='attribute_value'>{{attributes.technical.FreeKickTaking}}</span></div><img src='../rating_triangle_down.svg' alt='Rating Up or Down'>
        <div>Heading <span class='attribute_value'>{{attributes.technical.Heading}}</span></div>
        <div>Long Shots <span class='attribute_value'>{{attributes.technical.LongShots}}</span></div>
        <div>Long Throws <span class='attribute_value'>{{attributes.technical.LongThrows}}</span></div>
        <div class='up'>Marking <span class='attribute_value'>{{attributes.technical.Marking}}</span></div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
        <div>Passing <span class='attribute_value'>{{attributes.technical.Passing}}</span></div>
        <div>Penalty Taking <span class='attribute_value'>{{attributes.technical.PenaltyTaking}}</span></div>
        <div>Tackling <span class='attribute_value'>{{attributes.technical.Tackling}}</span></div>
        <div class='up'>Technique <span class='attribute_value'>{{attributes.technical.Technique}}</span></div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    </div>
<div class='attributes mental' *ngIf="attributes">
    <div class='attribute-header'>Mental</div>
    <img class='down-rate' src='../rating_triangle_down.svg' alt='Rating Up or Down' /><div>Aggression <span class='attribute_value'>{{attributes.mental.Aggression}}</span></div><img class='up-rate' src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div>Anticipation <span class='attribute_value'>{{attributes.mental.Anticipation}}</span></div>
    <div>Bravery <span class='attribute_value'>{{attributes.mental.Bravery}}</span></div>
    <div class='down'>Composure <span class='attribute_value'>{{attributes.mental.Composure}}</span></div><img src='../rating_triangle_down.svg' alt='Rating Up or Down'>
    <div>Concentration <span class='attribute_value'>{{attributes.mental.Concentration}}</span></div>
    <div>Decision <span class='attribute_value'>{{attributes.mental.Decision}}</span></div>
    <div>Determination <span class='attribute_value'>{{attributes.mental.Determination}}</span></div>
    <div>Flair <span class='attribute_value'>{{attributes.mental.Flair}}</span></div>
    <div>Leadership <span class='attribute_value'>{{attributes.mental.Leadership}}</span></div>
    <div>Off the Ball <span class='attribute_value'>{{attributes.mental.OfftheBall}}</span></div>
    <div>Positioning <span class='attribute_value'>{{attributes.mental.Positioning}}</span></div>
    <div class='up'>Teamwork <span class='attribute_value'>{{attributes.mental.Teamwork}}</span></div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div>Vision <span class='attribute_value'>{{attributes.mental.Vision}}</span></div>
    <div>Work Rate <span class='attribute_value'>{{attributes.mental.WorkRate}}</span></div>
</div>
<div class='attributes physical' *ngIf="attributes">
    <div class='attribute-header'>Physical</div>
    <img src='../rating_triangle.svg' alt='Rating Up or Down'><div class='up'>Acceleration <span class='attribute_value'>{{attributes.physical.Acceleration}}</span></div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div class='up'>Agility <span class='attribute_value'>{{attributes.physical.Agility}}</span></div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div class='up'>Balance <span class='attribute_value'>{{attributes.physical.Balance}}</span></div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div class='up'>Jumping Reach <span class='attribute_value'>{{attributes.physical.JumpingReach}}</span></div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div class='up'>Natural Fitness <span class='attribute_value'>{{attributes.physical.NaturalFitness}}</span></div><img src='../rating_triangle.svg' alt='Rating Up or Down'>
    <div>Pace <span class='attribute_value'>{{attributes.physical.Pace}}</span></div>
    <div>Stamina <span class='attribute_value'>{{attributes.physical.Stamina}}</span></div>
    <div>Strength <span class='attribute_value'>{{attributes.physical.Strength}}</span></div>
    <div>Goalkeeper Rating <span class='attribute_value'>{{attributes.physical.GoalkeeperRating}}</span></div>
</div>
<div class='attributes similar'>
    <div class='attribute-header'>Other Players in Bundesliga</div>
    <div><a routerLink='/player/596a53f1c6f20f7f938ea8e8'>Pierre-Emerick Aubameyang</a></div>
    <div><a routerLink='/player/596a53f1c6f20f7f938ea88a'>Timo Horn</a></div>
    <div><a routerLink='/player/596a53f1c6f20f7f938ea8e3'>Marco Reus</a></div>
    <div><a routerLink='/player/596a53f1c6f20f7f938ea897'>Marcel Risse</a></div>
    <div><a routerLink='/player/596a53f1c6f20f7f938ea8e8'>Pierre-Emerick Aubameyang</a></div>
    <div><a routerLink='/player/596a53f1c6f20f7f938ea88a'>Timo Horn</a></div>
    <div><a routerLink='/player/596a53f1c6f20f7f938ea8e3'>Marco Reus</a></div>
    <div><a routerLink='/player/596a53f1c6f20f7f938ea897'>Marcel Risse</a></div>
    <div><a routerLink='/player/596a53f1c6f20f7f938ea8bd'>Mats Hummels</a></div>
    <div><a routerLink='/player/596a53f1c6f20f7f938ea8cb'>Arjen Robben</a></div>
    <div><a routerLink='/player/596a53f1c6f20f7f938ea8fd'>Hakan Calhanoglu</a></div>
</div>