<div class="login-modal">
    <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="login-with-different">
                Login with <span class='fb'>Facebook</span> or <span class='google'>Google</span>
            </div>
            <input class='email-login' type='email' id='email_login' name='email' placeholder='Please enter your email.' formControlName='email' />
            <input class='password-login' type='password' id='password' placeholder='Please enter your password.' formControlName='password'>
            <button class='submit-login' type='submit'>
                <img src='../login.svg' alt='Login Icon' />
                Login</button>
            <div class='errorMessage'>{{ errorMessage }}</div>
        </form>

        <img class='player-background' src='../buffon.jpg' alt='Buffon' />
        <div class="no-account">
            <span class="already">Don't have an account?</span>
            <a class="signup" href=''>Sign Up</a>
        </div>
    </div>
</div>