<div class="login-modal" ng-show='loginModal'>
    <div class="login-form">
        <form action=''>
            <div class="login-with-different">
                Login with <span class='fb'>Facebook</span> or <span class='google'>Google</span>
            </div>
            <input class='email-login' type='email' id='email_login' name='email_login' placeholder='Please enter your email.' />
            <input class='password-login' type='password' id='password_login' placeholder='Please enter your password.'>
            <button class='submit-login' type='submit'>
                <img src='../login.svg' alt='Login Icon' />
                Login</button>
        </form>
        <img class='player-background' src='../buffon.jpg' alt='Buffon' />
        <div class="no-account">
            <span class="already">Don't have an account?</span>
            <a class="signup" href=''>Sign Up</a>
        </div>
    </div>
</div>