<div class='body'>
    <header-component class='header'></header-component>
    <div class="player-profile-wrapper">
        <div class='wrapper'>
            <div class='player-content-header'>
                <div class='one'>
                    <div class="prof-pic">
                        <img class="player-photo" src='renato.png' alt='Lionel Messi'>
                    </div>
                </div>
                <div class='two'>
                    <div class='player-info'>
                        <div class="inner-info">
                            <h1>Renato Sanches</h1>
                            <h3>F.C. Bayern München</h3>
                        </div>
                        <img src='bayern.svg' alt='FC Bayern Munchen Logo'>
                    </div>
                    <div class='player-value'>
                        <div class="inner-info">
                            <h3><span style='font-weight: 500;'>Estimated Value:</span> 47M EUR</h3>
                            <h3><span style='font-weight: 500;'>Contracted Until:</span> 06/2020</h3>
                        </div>
                    </div>
                    <div class='player-nation'>
                        <img class='flag' src='portugal.svg' alt='FC Bayern Munchen Logo'>
                        <h3>Portugal</h3>
                    </div>
                </div>
                <div class='three'>
                    <div class='height'>
                        <div class="value-text">176 cm</div>
                        <div class="red-line-divider"></div>
                        <div class="info-text">Height</div>
                    </div>
                    <div class='footed'>
                        <div class="value-text">Left</div>
                        <div class="red-line-divider"></div>
                        <div class="info-text">Footed</div>
                    </div>
                    <div class='weight'>
                        <div class="value-text">78 KG</div>
                        <div class="red-line-divider"></div>
                        <div class="info-text">Weight</div>
                    </div>
                </div>
                <div class='four'>
                    <h2>Playing Positions</h2>
                    <img src='pitch.svg' alt='Playing Positions'>
                </div>
            </div>
            <player-attributes-component></player-attributes-component>
        </div>
    </div>
</div>