<div class='body' *ngIf="player && club && nationality">
    <header-component class='header'></header-component>
    <div class="player-profile-wrapper">
        <div class='wrapper'>
            <div class='player-content-header'>
                <div class='one'>
                    <div class="prof-pic">
                        <img class="player-photo" src='{{club.logoDir}}' />
                    </div>
                </div>
                <div class='two'>
                    <div class='player-info'>
                        <div class="inner-info">
                            <h1>{{ player.name }}</h1>
                            <h3>{{ club.name }}</h3>
                        </div>
                        <img src='bundesliga.svg' alt='{{ club.name }} Logo'>
                    </div>
                    <div class='player-value'>
                        <div class="inner-info">
                            <h3><span style='font-weight: 500;'>Estimated Value:</span> {{ player.marketValue || "N/A" }}</h3>
                            <h3><span style='font-weight: 500;'>Contracted Until:</span> {{ player.contractedUntil }}</h3>
                        </div>
                    </div>
                    <div class='player-nation'>
                        <img class='flag' src='/images/flags/{{ nationality.flagDir }}' alt='{{ nationality.name}} Flag'>
                        <h3>{{ nationality.name }}</h3>
                    </div>
                </div>
                <div class='three'>
                    <div class='height'>
                        <div class="value-text">{{ player.dateOfBirth | date :  "dd.MM.y" }}</div>
                        <div class="red-line-divider"></div>
                        <div class="info-text">Date of Birth</div>
                    </div>
                    <div class='footed'>
                        <div class="value-text">{{ player.position }}</div>
                        <div class="red-line-divider"></div>
                        <div class="info-text">Position</div>
                    </div>
                    <div class='weight'>
                        <div class="value-text">{{ player.jerseyNumber }}</div>
                        <div class="red-line-divider"></div>
                        <div class="info-text">Number</div>
                    </div>
                </div>

                <div class='four'>
                    <h2 *ngIf='markedFavorite'>Player already marked as favorite.</h2>
                    <h2 *ngIf='!markedFavorite'>Mark as favorite</h2>
                    <svg width="48px" height="46px" viewBox="0 0 96 92" version="1.1" (click)='addFavorite()' *ngIf='!markedFavorite'>
                        <title>Add to Favorites</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="favorite" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="star" transform="translate(-1165.000000, -778.000000)" fill="#CCCCCC">
                                <g id="Page-1" transform="translate(1165.000000, 778.000000)">
                                    <polygon id="Fill-1" points="78.301 40.898 56.5 39.1011 48 18.8981 39.6016 39.1011 17.6996 40.898 34.3016 55.199 29.3016 76.5 48.0006 65.102 66.6996 76.5 61.6996 55.199"></polygon>
                                    <path d="M95.5,35.301 L61.199,32.5002 L48,0.8012 L34.801,32.5002 L0.500002,35.301 L26.602,57.699 L18.7036,91.096998 L48.1016,73.199 L77.4996,91.096998 L69.6012,57.699 L95.5,35.301 Z M72,83.899 L48,69.2 L24,83.899 L30.5,56.501 L9.102,38.2 L37.204,35.8992 L48.005,9.8992 L58.806,35.8992 L86.908,38.2 L65.51,56.501 L72,83.899 Z" id="Fill-2"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <svg width="48px" height="46px" viewBox="0 0 96 92" version="1.1" (click)='deleteFavorite()' *ngIf='markedFavorite'>
                        <title>Add to Favorites</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="favorite" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="star" transform="translate(-1165.000000, -778.000000)" fill="#00A084">
                                <g id="Page-1" transform="translate(1165.000000, 778.000000)">
                                    <polygon id="Fill-1" points="78.301 40.898 56.5 39.1011 48 18.8981 39.6016 39.1011 17.6996 40.898 34.3016 55.199 29.3016 76.5 48.0006 65.102 66.6996 76.5 61.6996 55.199"></polygon>
                                    <path d="M95.5,35.301 L61.199,32.5002 L48,0.8012 L34.801,32.5002 L0.500002,35.301 L26.602,57.699 L18.7036,91.096998 L48.1016,73.199 L77.4996,91.096998 L69.6012,57.699 L95.5,35.301 Z M72,83.899 L48,69.2 L24,83.899 L30.5,56.501 L9.102,38.2 L37.204,35.8992 L48.005,9.8992 L58.806,35.8992 L86.908,38.2 L65.51,56.501 L72,83.899 Z" id="Fill-2"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>

            </div>
            <player-attributes-component></player-attributes-component>
        </div>
    </div>
</div>