<div class='body' *ngIf="player && club && nationality">
    <header-component class='header'></header-component>
    <div class="player-profile-wrapper">
        <div class='wrapper'>
            <div class='player-content-header'>
                <div class='one'>
                    <div class="prof-pic">
                        <img class="player-photo" src='{{club.logoDir}}' />
                    </div>
                </div>
                <div class='two'>
                    <div class='player-info'>
                        <div class="inner-info">
                            <h1>{{ player.name }}</h1>
                            <h3>{{ club.name }}</h3>
                        </div>
                        <img src='bundesliga.svg' alt='{{ club.name }} Logo'>
                    </div>
                    <div class='player-value'>
                        <div class="inner-info">
                            <h3><span style='font-weight: 500;'>Estimated Value:</span> {{ player.marketValue || "N/A" }}</h3>
                            <h3><span style='font-weight: 500;'>Contracted Until:</span> {{ player.contractedUntil }}</h3>
                        </div>
                    </div>
                    <div class='player-nation'>
                        <img class='flag' src='/images/flags/{{ nationality.flagDir }}' alt='{{ nationality.name}} Flag'>
                        <h3>{{ nationality.name }}</h3>
                    </div>
                </div>
                <div class='three'>
                    <div class='height'>
                        <div class="value-text">{{ player.dateOfBirth | date :  "dd.MM.y" }}</div>
                        <div class="red-line-divider"></div>
                        <div class="info-text">Date of Birth</div>
                    </div>
                    <div class='footed'>
                        <div class="value-text">{{ player.position }}</div>
                        <div class="red-line-divider"></div>
                        <div class="info-text">Position</div>
                    </div>
                    <div class='weight'>
                        <div class="value-text">{{ player.jerseyNumber }}</div>
                        <div class="red-line-divider"></div>
                        <div class="info-text">Number</div>
                    </div>
                </div>
                <!--
                <div class='four'>
                    <h2>Playing Positions</h2>
                    <img src='pitch.svg' alt='Playing Positions'>
                </div>
                -->
            </div>
            <player-attributes-component></player-attributes-component>
        </div>
    </div>
</div>