
<div class='content-wrapper'>
    <div class='title-wrapper'>
        <h1>
            <span>Get engaged.</span>
            See how players are doing while watching your favorite team’s game. Rate them, love them, be aware.
        </h1>
    </div>
    <div class="main-wrapper">
        <div class="first-column">
            <div class="col-wrapper">
             <div class="image-1">
                 <img src='ibrahimovic.jpg' alt='Luis Suarez Signing Barcelona'>
             </div>
             <div class="text"></div>
            </div>
        </div>
        <div class="second-column">
            <div class="image-2"></div>
        </div>
        <div class="third-column">
            <div class="image-3">
                <img src='lewandowski.jpg' alt='Luis Suarez Signing Barcelona'>
            </div>
        </div>
    </div>
</div>