<div class='header-wrapper'>
    <div class='company-logo'>
        <img src='logo_with_title.svg' alt='Logo' />
    </div>
    <div class='search-bar'>
        <form [formGroup]='searchForm' (ngSubmit)='onSubmit()'>
            <img class='mag-glass' src='search_bar_inspection_glass.svg' alt='Magnifying glass' />
            <input id="search"
                   formControlName="searchQuery"
                   class='search-input'
                   type='text'
                   placeholder='Type your favorite team, player or the game...'
            >
        </form>
    </div>
    <div class='nav-menu'>
        <a class='take-a-tour'>
            Take a Tour
        </a>
        <a ng-click="showSignUpModal()">
           Sign Up
        </a>
        <a ng-click="showLoginModal()">
            Log In
        </a>
    </div>
</div>